  @font-face {
    font-family: Ailerons;
    src: url('./fonts/Ailerons-Regular.otf');
  }
  @font-face {
    font-family: action force;
    src: url('./fonts/Action_Force.ttf');
  }
  @font-face {
    font-family: gotham medium;
    src: url('./fonts/Gotham-Medium.otf');
  }
  @font-face {
    font-family: gotham book;
    src: url('./fonts/Gotham-Book.otf');
  }
  @font-face {
    font-family: fenwick;
    src: url('./fonts/fenwick_ol_free.ttf');
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(50, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
  }
    .darkColor { background-color: #000814;}
    .color2 { color: #FFD60A }
    .navColor { background-color: #003566 }
    .bodyColor { background-color: #001D3D; z-index: -3; }

    .hero { grid-area: 1 / 1 / 12 / 17; }
    .pading0 {
      padding: 0;
      margin: 0;
      height: 20px;
    }

    .mainTextEvery {
      font: 4.5vw fenwick;
      line-height: 50px;
      margin-top: 0.2vw;
      letter-spacing: 10px;
      margin-right: 10px;
      line-height: 0.7;
    }
    .mainTextthing {
      font: 4.5vw fenwick;
      line-height: 50px;
      letter-spacing: 16px;
      margin-top: 2.4vw;
      line-height: 0.7;
    }
    .youwanted {
      font: 1.44vw gotham book;
      line-height: 50px;
      letter-spacing: 2px;
      margin-top: 2.5vw;
      line-height: 0.7;
    }

    .braking {
      color: white;
      font: 4vw action force;
      margin: 0px;
      margin-left: 15px;
      transform-origin: top right;

    }

    .newsSVG {
      z-index: 2;
      margin-left: 14vw;
      margin-top: 1.2vw;
      width: 150px;
      transform-origin: top left;
    }

    .main { grid-area: 15 / 2 / 49 / 7; }
    .mainTitle { grid-area: 16 / 2 / 22 / 6; margin: 0px; }
    .mainText {
      grid-area: 25 / 4 / 39 / 7;
      font: 2vw gotham medium; 
      line-height: 0.7;
    }
    .mainSupportText {
      grid-area: 40 / 4 / 44 / 7;
      font: 1.49vw gotham book;
      line-height: 0.7;
      letter-spacing: 0.5vw;
      color: white
    }
    .mainFooter {
      grid-area: 47 / 4 / 48 / 7;
      font: 0.5vw gotham book;
      letter-spacing: 0.8vw;
      color: white}

@media (max-width: 1279px) {
  .main { grid-area: 15 / 2 / 49 / 9; }
  .braking {
    color: white;
    font: 59px action force;
    margin: 0px;
    margin-left: 15px;
    transform-origin: top right;
  }

  .newsSVG {
    z-index: 2;
    margin-left: 200px;
    margin-top: 15px;
    width: 12vw;
    transform-origin: top left;
  }

  .mainText {
    grid-area: 25 / 5 / 49 / 8;
    font: 3vw gotham medium; 
    line-height: 0.7;
  }
  .mainTextEvery {
    font: 6vw fenwick;
    line-height: 50px;
    margin-top: 0.2vw;
    letter-spacing: 10px;
    margin-right: 10px;
    line-height: 0.7;
  }
  .mainTextthing {
    font: 6vw fenwick;
    line-height: 50px;
    letter-spacing: 1.5vw;
    margin-top: 2.8vw;
    line-height: 0.7;
  }
  .youwanted {
    font: 1.44vw gotham book;
    line-height: 50px;
    letter-spacing: 0.5vw;
    margin-top: 3.2vw;
    line-height: 0.7;
    width: 350px;
  }

}